.listSortJobs {
  list-style: none;
  float: right;
}

.listSortJobs li {
  float: left;
  margin-right: 20px;
}

.sortJobsTitle {
  color: #908e8f;
}

.sortJobsItem {
  color: black;
  cursor: pointer;
}

.sortJobsItem img {
  width: 20px;
  height: 20px;
}

.contentBody {
  padding: 20px 25px;
}

.contentTitleContainer {
  padding-bottom: 20px;
  cursor: pointer;
}

.contentAcronym {
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #afafaf;
  color: white;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  border-radius: 8px;
  margin-top: 5px;
  float: left;
}

.contentTitle {
  width: calc(100% - 50px);
  padding-left: 20px;
  float: left;
  display: flex;
  align-items: center;
}

.contentJobs {
  list-style: none;
  margin: 0px 0px 0px -15px;
  padding: 0px;
  display: none;
}

.jobData {
  border-top: 1px solid #eeeeee;
  padding: 20px 0px;
  margin: 0px;
  cursor: pointer;
}

.jobDetail {
  margin: 10px 0px;
  display: none;
}

.postTime {
  text-align: right;
  padding: 0px;
}

.rowDetailJob {
  margin: 10px 0px;
}

.divWP {
  padding: 0px;
}

.detailJobDesc {
  padding-right: 200px;
}

.white-btn {
  border: 1px solid var(--he-blue);
  color: var(--he-blue) !important;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 20px;
  float: right;
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
  z-index: 100000;
}

.blue-btn {
  border: 1px solid var(--he-blue);
  background-color: var(--he-blue) !important;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 20px;
  float: right;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .postTime {
    text-align: left;
  }

  .colTools {
    padding-top: 20px;
    display: flex;
    align-items: left;
  }

  .detailJobDesc {
    padding-right: 0px;
  }
}
