.header-nav-bar {
  font-size: 14px !important;
  padding: 15px 20px !important;
}

.container {
  min-width: 100%;
  padding: 0px !important;
  margin: 0px !important;
}

.h-menu {
  min-width: 100%;
  padding: 0px;
  margin: 0px;
}

.navbar-toggler-icon {
  margin-left: -10px;
  background-image: url(./ui_img/menu_btn.svg);
}

.nav-link {
  color: black !important;
  font-weight: 600 !important;
}

.header-btn {
  border: 1px solid var(--he-blue);
  color: var(--he-blue) !important;
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  padding: 8px 15px;
}

.profile_pic {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  text-align: center;
  line-height: 35px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: var(--he-blue);
  margin-left: auto;
}

.notification {
  position: absolute;
  width: 22px;
  height: 22px;
  line-height: 15px;
  text-align: center;
  border-radius: 22px;
  background-color: red;
  border: 3px solid white;
  font-size: 12px;
  font-weight: bold;
  top: -5px;
  right: -8px;
}

.inputSearch {
  width: 100%;
  border: 1px solid #eeeeee;
  padding: 12px 0px 12px 60px;
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  color: #888b90;
  background: url(./ui_img/Glass.svg) no-repeat scroll 30px 18px;
}

.inputSearchContainer {
  min-height: 100%;
  margin-bottom: 20px;
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .show-on-desktop {
    display: none;
  }
  .inputSearchContainer {
    margin-bottom: 0px;
  }
  .m-item {
    margin: 0px;
    padding: 0px;
  }

  .header-btn {
    margin: 5px 0px;
  }

  .nav-link {
    padding: 10px 0px;
  }
}

@media (min-width: 769px) {
  .show-on-mobile {
    display: none;
  }
}
